@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    background-color: #0e0d0d;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}


/* Navbar styles */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    transition: background-color 0.5s, color 0.5s;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}
.navbar a:hover {
    background-color: #f3efec;
    color: black;
    border-radius: 10px;
    margin: 10px;
}


header {
    width: 100%; 
    max-width: none; 
    margin: 0; 
    height: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: fixed; 
    top: 0; 
    z-index: 1000; 
    background-color: #0e0d0d; 
}

header a {
    color: #eee;
    margin-right: 15px;
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: #3af146;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: width .5s;
}
nav a:hover::after {
    width: 100%;
}
@media (max-width: 600px) {
    .navbar a {
        padding: 8px 5px; /* Reduce padding on small screens */
        margin-right: 5px; /* Further reduce margin on small screens */
        font-size: 8px; /* Reduce font size on small screens */
        justify-content: center;
    }

    header {
        flex-direction: column; /* Stack items vertically on small screens */
        height: 30px; /* Adjust height for stacked items */
    }
}

/* Carousel */
.carousel {
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.carousel .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .author {
    font-weight: bold;
    letter-spacing: 10px;
}
.carousel .list .item .author .name {
    color: #3af146;
}
.carousel .list .item .title,
.carousel .list .item .topic {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.3em;
}
.carousel .list .item .topic {
    color: #3af146;
}
.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title {
    font-weight: 500;
}
.thumbnail .item .content .description {
    font-weight: 300;
}

/* Arrows */
.arrows {
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover {
    background-color: #fff;
    color: #000;
}

/* Animation */
.carousel .list .item:nth-child(1) {
    z-index: 1;
}

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title {
    animation-delay: 1.2s !important;
}
.carousel .list .item:nth-child(1) .content .topic {
    animation-delay: 1.4s !important;
}
.carousel .list .item:nth-child(1) .content .des {
    animation-delay: 1.6s !important;
}
.carousel .list .item:nth-child(1) .content .buttons {
    animation-delay: 1.8s !important;
}

.carousel.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 32px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
.carousel.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail {
    animation: effectNext .5s linear 1 forwards;
}
@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}

.carousel .time {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time {
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.carousel.prev .list .item:nth-child(2) {
    z-index: 2;
}
.carousel.prev .list .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}
.carousel.prev .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button {
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons {
    animation: contentOut 1.5s linear 1 forwards !important;
}
@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@media screen and (max-width: 678px) {
    .carousel .list .item .content {
        padding-right: 0;
    }
    .carousel .list .item .content .title {
        font-size: 20px;
    }
}
/*------------------------About------------------------*/
/*------------------------About------------------------*/
.section-1 {
    padding: 30px 0;
    font-family: Arial, sans-serif;
    text-align: center; 
}

.about-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px; /* Reduced margin-bottom */
    transition: color 0.3s, background-color 0.3s;
}

.about-title:hover {
    color: #3af146;
}

.about-us-section {
    margin-top: 30px; /* Reduced margin-top */
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.about-us-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/about us.jpeg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(3px); /* Apply blur effect */
    z-index: -1;
}

.about-us-content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

.about-us-content h1 {
    color: #000000;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bolder;
}

.profile-pic {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 20px auto; /* Reduced margin */
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid rgba(0, 0, 0, 0); /* To make the circular profile stand out */
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    color: #000000;
    font-size: 14px;
}

/* ------------------Services------------------------------ */
.services-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px; /* Reduced margin-bottom */
    transition: color 0.3s, background-color 0.3s;
}
.services-title:hover {
    color: #3af146;
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 20px; /* Reduced margin-top */
}
.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i {
    font-size: 40px;
    margin-bottom: 30px;
}
.services-list div h2 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
    text-align: center;
}
.services-list div:hover {
    background-color: #525452;
    transform: translateY(-10px);
}

/* ------------------------------------Team-------------------------------------- */
#section {
    padding: 30px 0;
}
.team-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    transition: color 0.3s, background-color 0.3s;
}
.team-title:hover {
 
    color: #3af146;
}
.team-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.team {
    border-radius: 100%;
    position: relative;
    overflow: hidden;
}
.team img {
    width: 100%;
    border-radius: 100%;
    display: block;
    transition: transform 0.5s;
}
.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #52f981);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease, height 0.5s;
    color: #fff;
}
.team:hover .layer {
    opacity: 1;
    height: 100%;
}
.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a {
    margin: 20px;
    color: #040b06;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.team:hover img {
    transform: scale(1.1);
}

/* Gallery */
.section-4 { /* Changed from #section-4 to .section-4 to match the class selector in HTML */
    padding: 40px 0;
}

.gallery-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    transition: color 0.3s, background-color 0.3s;
    text-decoration: none;
    position: relative;
}

.gallery-title:hover {
    color: #3af146;
   
}

.gallery-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit);
}
.card {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background 0.5s, transform 0.5s;
}
.card:hover {
    background-color: #525452;
    transform: translateY(-10px);
}

/* Fullscreen Image Modal */
.fullscreen-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}
.fullscreen-modal .close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.fullscreen-modal .close:hover,
.fullscreen-modal .close:focus {
    color: #69f27f;
}
.fullscreen-modal .modal-content {
    display: block;
    margin: 40px auto;
    max-width: 80%;
    max-height: calc(100% - 80px);
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
}
/*-------------------------contact form----------------------------------------*/

/* General styles */


.section-5 {
    width: 100%;
    height: 100vh;
    background-size: 100% 110vh;
    position: relative;
    background-repeat: no-repeat;
}


.main-contact {
    font-size: 40px;
    text-align: center;
    transition: color 0.3s;
    font-weight: bold;
    margin-bottom: 20px;
}

.main-contact:hover {
    color: #3af146;
}

.contact-header {
    position: absolute;
    text-align: center;
    width: 75%;
    left: 12%;
    top: 2rem;
}

.contact-header h1 {
    font-size: 30px;
}

.empty {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.contact-content {
    display: flex;
    min-height: 110vh;
}

.contact-content .section-51 {
    margin-top: 8vh;
    margin-left: 20vh;
}

.content-form {
    margin-top: 7rem;
}

.section-51 i {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-align: center;
}

.form {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50%;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
}

.form .contact-form input {
    width: 30rem;
    background-color: transparent;
    border: 0;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    border-bottom: 2px solid #fff;
}

.form .contact-form input ~ span {
    position: absolute;
    left: 20px;
    transition: 0.9s ease-in-out;
    margin-top: 10px;
}

.form .contact-form input:focus ~ span {
    transform: translateY(-20px);
    pointer-events: none;
}

.form .contact-form textarea {
    width: 30rem;
    border: 0;
    background-color: transparent;
    margin: 20px;
    font-size: 17px;
    border-bottom: 2px solid white;
}

.form .contact-form textarea ~ span {
    position: absolute;
    left: 20px;
    margin-top: 10px;
    transition: 0.9s ease-in-out;
}

.form .contact-form textarea:focus ~ span {
    transform: translateY(-20px);
    pointer-events: none;
}

.form .contact-form input[type=submit] {
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
    font-size: 18px;
    width: 50%;
    height: 40px;
    margin-top: -5px;
    cursor: pointer;
    color: #fff;
}

.form .contact-form input[type=submit]:hover {
    background-color: transparent;
    color: dodgerblue;
}

.media {
    position: absolute;
    top: 85vh;
    right: 20vh;
    display: flex;
    list-style: none;
}

.media li {
    margin: 20px 30px;
}

@media screen and (max-width: 900px) {
    .contact-header {
        position: absolute;
        left: 0;
        top: 20%;
        width: 100%;
    }
    .empty {
        height: 210vh;
    }
    .form {
        position: absolute;
        top: 100vh;
        margin-left: 10%;
    }
    .content-form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
        margin-top: 53vh;
        margin-left: 10vh;
    }
    .contact-content .section-51 {
        margin-top: 0;
        margin-left: 0;
    }
    .media {
        position: absolute;
        top: 190vh;
        right: 30px;
    }
}